*{
    margin: 0;
    padding: 0;
}
.menu{
    background-color: transparent;
    width: 15vw;
    height: 90vh;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
.frame{
    background-color: #1d2630;
    width:85vw;
    height: 90vh;
    margin: 0;
    padding: 0;
}
.contenido{
    display: flex;
}
iframe{
    background-color: #1d2630;
    width:85vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 0;
}
footer{
    background-color: white;
    width: 100vw;
    height: 1vh;
    position: absolute;
    top: 100%;
    border-radius: 5px;
    z-index: 1;
    
}
footer::before{
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 1;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity 1s ease-in-out;
    animation: animate 20s linear infinite;
}
@keyframes animate {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  @media screen and (max-width: 1098px){
      .frame{
          margin-top: 50px;
          width: 1000px;
          margin-right: 100px;
      }

      .menu{
        background-color: white;
        width: 0vw;
        height: 0vh;
        margin: 0;
        padding: 0;
        position: absolute;
    }
  }
  @media screen and (max-width: 1098px){
    .frame{
        margin-top: 50px;
        width: 1000px;
        
    }
    iframe{
        width: 1000px;
    }
    body{
        width: 100vw;
    }
  }
  